@model IEnumerable<HotelReservation.Models.Booking>

<h1>Reservas</h1>

<!-- Botones de acción -->
<div>
    <a asp-action="Create" class="btn btn-primary">Crear Nueva Reserva</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Reserva ID</th>
            <th>Cliente</th>
            <th>Habitación</th>
            <th>Fecha de Check-In</th>
            <th>Fecha de Check-Out</th>
            <th>Estado</th>
            <th>Acciones</th> <!-- Columna para los botones de acción -->
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model)
        {
            <tr>
                <td>@booking.BookingId</td>
                <td>@booking.CustomerName</td>
                <td>@booking.Room?.RoomType ?? "No asignada"</td>
                <td>@booking.CheckInDate.ToShortDateString()</td>
                <td>@booking.CheckOutDate.ToShortDateString()</td>

                <td>
                    <!-- Botones para editar, eliminar y ver detalles -->
                    <a asp-action="Edit" asp-route-id="@booking.BookingId" class="btn btn-warning">Editar</a>
                    <a asp-action="Delete" asp-route-id="@booking.BookingId" class="btn btn-danger">Eliminar</a>
                    <a asp-action="Details" asp-route-id="@booking.BookingId" class="btn btn-primary">Detalles</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
