@model IEnumerable<HotelReservation.Models.Booking>

<h2>Mis Reservas</h2>

@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Habitación</th>
                <th>Fecha de Check-In</th>
                <th>Fecha de Check-Out</th>
                <th>Cliente</th>
                <th>Correo</th>
                <th>Teléfono</th>
                <th>Número de Huéspedes</th>
         
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in Model)
            {
                <tr>
                    <td>@(booking.Room?.RoomType ?? "Sin habitación asignada")</td>
                    <td>@booking.CheckInDate.ToShortDateString()</td>
                    <td>@booking.CheckOutDate.ToShortDateString()</td>
                    <td>@booking.CustomerName</td>
                    <td>@booking.CustomerEmail</td>
                    <td>@booking.CustomerPhone</td>
                    <td>@booking.NumberOfGuests</td>
                    <td>@booking.SpecialRequests</td>
                    <td>
     
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
